@define-color black #181a1f;
@define-color bg #282c34;
@define-color fg #abb2bf;
@define-color purple #c678dd;
@define-color green #98c379;
@define-color orange #d19a66;
@define-color blue #61afef;
@define-color yellow #e5c07b;
@define-color cyan #56b6c2;
@define-color red #e86671;
@define-color grey #5c6370;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    FontAwesome,
    Roboto,
    Fira Code Nerd Font,
    sans-serif;
  font-size: 18px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  color: #3aa;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#pulseaudio {
  margin-right: 8px;
}
#workspaces {
  margin-left: 8px;
}

#workspaces button {
  padding: 0 15px;
  background-color: @bg;
  color: @fg;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
  color: @yellow;
}

#workspaces button.urgent {
  background-color: @red;
}

.module {
  margin: 4px 2px;
  /* margin-right: 8px; */
  /* margin-left: 8px; */
  padding: 2px 8px;
  color: @fg;
  background-color: @bg;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}
